<ion-split-pane when="xs" contentId="main-content">
    <ion-menu style="border-color: white;    margin-right: 0px;z-index: 10;" contentId="main-content" type="overlay">
        <ion-header>
            <span><img style="padding: 17px 0px 0px 26px;" src="https://static.canva.com/web/images/12487a1e0770d29351bd4ce4f87ec8fe.svg" alt="" role="presentation"></span>
        </ion-header>
        <ion-content style="font-family: Solitreo !important;">
            <ion-list id="inbox-list">
                <ion-list-header style="padding-bottom: 20px;">
                    <div class="parent">
                        <div class="div1">
                            <div class="circle">EG</div>
                        </div>
                        <div class="div2">
                            <h6>Eduardo Guerra Bobadilla</h6>
                        </div>
                        <div class="div3">
                            <p class="parrafoCirculo">eguerra.bobadilla@gmail.com</p>
                        </div>
                    </div>
                </ion-list-header>
                <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index">
                    <ion-item (click)="chosePage(page.tipo)" lines="none" detail="false" [class.isActive]="page.activo" style="margin-top: 10px; margin-left: 8px; font-family: 'Solitreo';">
                        <ion-label>{{ page.title }}</ion-label>
                        <ion-icon name="{{ page.icon }}" slot="start"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>

        </ion-content>
    </ion-menu>



    <div id="main-content">
		<ion-header>
			<ion-toolbar>
				<ion-breadcrumbs>
					<ion-breadcrumb (click)="regresarInicio()">Inicio</ion-breadcrumb>
					<ion-breadcrumb *ngIf="appPages[0].activo" (click)="regresarInicio()">Libros</ion-breadcrumb>
					<ion-breadcrumb *ngIf="appPages[1].activo">Secuencias</ion-breadcrumb>
					<ion-breadcrumb *ngIf="nombreLibro !== '' && appPages[0].activo">{{nombreLibro}}</ion-breadcrumb>
				  </ion-breadcrumbs>
			</ion-toolbar>
		</ion-header>
        <app-folder *ngIf="appPages[0].activo"></app-folder>
        <app-secuencias *ngIf="appPages[1].activo"></app-secuencias>

    </div>

    <ion-modal #modal [style.display]="dataService.displayModal" trigger="open-modal" [isOpen]="dataService.estadoModal" [initialBreakpoint]="0.8" [breakpoints]="[0.8, 0.15]" [backdropDismiss]="false" [backdropBreakpoint]="1" handle="false" class="modalService"
        id="modal-secuencia">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-label style="padding-left: 20px; padding-right: 5px;">Pagina :</ion-label>
                    <ion-buttons slot="end">
                        <ion-button shape="round" fill="clear" (click)="dataService.abrirModal()">
                            <ion-icon slot="icon-only" size="large" name="close-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <select id="slcModal" #select name="select" [(ngModel)]="pag" (ngModelChange)="onChangePag( $event )" value="{{numeroPagina$}}">
			<option *ngFor="let pag of totalPaginas">{{pag}}</option>
			</select>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <quill-editor [formControl]="formContenidoSecuencia" [modules]="quillModules" id="quillText" format="html" placeholder="Insertar texto aqui..."></quill-editor>
                <div style="text-align: center; margin-top: 4px;">
                    <ion-button shape="round" color="dark" *ngIf="!stateBotonGuardarEditarSecuencia" (click)="addNewList()">
                        <ion-icon slot="start" name="paper-plane"></ion-icon>
                        Enviar
                    </ion-button>
                    <ion-button shape="round" color="dark" *ngIf="stateBotonGuardarEditarSecuencia" (click)="guardarEdited()">
                        <ion-icon slot="start" name="create"></ion-icon>
                        Editar
                    </ion-button>
                </div>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-split-pane>