<!-- NavBar -->

<img *ngIf="rutaActual[2] == 'libros'" class="perseus-fondo" src="./assets/icon/icono_perseus_folder.svg" alt="PerseusApp" role="presentation">

<ion-toolbar style=" --background: var(--ion-lbs-lila); ">
    <div style="position: absolute; top: 0; display: flex;justify-content: center;align-items: center; 
                width: 100%; height: 70px; overflow-x: auto; overflow-y: hidden;">

                <div class="logo-center">
                    <img src="./assets/icon/logo_lbs_blanco.svg" alt="LBS+" role="presentation">
                </div>
       
                <ion-item 
                    lines="none" 
                    class="acciones" 
                    *ngIf="nombreLibro !== '' && appPages[0].activo" 
                    class="slide-in-animation acciones">
                
                <ion-select 
                    [interfaceOptions]="{cssClass: 'accionesSelect'}" 
                        interface="popover" style="--background-hover: var(--ion-lbs-lila-oscuro); font-family: Volte-Medium !important;" 
                        [ngModel]="selectAcciones" 
                        (ionDismiss)="cleanSelectDropDown()" 
                        (ionChange)="selectDropDown( $event )" 
                        selected-text="Acciones" 
                        placeholder="Acciones">
                <ion-select-option 
                    style="--background-hover: var(--ion-lbs-lila-oscuro); font-family: Volte-Medium !important;" 
                    value="crear-secuencia">Crear Secuencia
                </ion-select-option>
                
            </ion-select>
        </ion-item>

        <ion-breadcrumbs 
            class="historial-link" 
            color ="light" 
            style=" padding-left: 160px; margin-bottom: 16px;">
                <ion-breadcrumb 
                    class="history" 
                    (click)="regresarInicio()">
                    {{'Inicio' | titlecase}}
                </ion-breadcrumb>
                <ion-breadcrumb *ngIf="!rutaActual[3]" class="history" [class.active]="!rutaActual[3] && rutaActual[2] == 'libros' ">
                    {{rutaActual[2] | titlecase}}
                </ion-breadcrumb>
                <ion-breadcrumb *ngIf="rutaActual[2] != 'libros'" class="history" [class.active]="rutaActual[2]">
                    Tiempo De Uso De Docentes
                </ion-breadcrumb>
                <!-- <ion-breadcrumb *ngIf="rutaActual[3]" class="history" [class.active]="rutaActual[3]">
                    {{rutaActual[3] | titlecase}}
                </ion-breadcrumb> -->

            <ion-breadcrumb class="history" *ngIf="nombreLibro !== '' && appPages[0].activo">{{nombreLibro}}</ion-breadcrumb>
            <ion-breadcrumb class="history" *ngIf="nombreLibro !== '' && appPages[0].activo">Pagina: {{ pag }}</ion-breadcrumb>
        </ion-breadcrumbs>
        <div style="order: 3; margin-left: auto; display: flex;margin-right: 36px;justify-content: flex-end; align-items: center;">

            <div style="margin-bottom: 26px; transform: translateY(25%);padding-right: 17px;"  id="options-trigger" aria-hidden="true"  class="NA_Img dkWypw">
                <img style="width: 27px; height: 27px; " src="./assets/icon/summer.svg" alt="settings">
            </div>

            <ion-popover trigger="options-trigger" [dismissOnSelect]="true">
                <ng-template>
                    <ion-content>
                        <ion-list lines="none">
                            <!-- <ion-item style="--background-hover: #6228cf;" [button]="true" [detail]="false">Otros</ion-item> -->
                            <ion-item style="--background-hover: var(--ion-lbs-lila-oscuro); font-family: Volte-Medium;" [button]="true" [detail]="false" (click)="onLogout()">Cerrar sesión</ion-item>
                        </ion-list>
                    </ion-content>
                </ng-template>
            </ion-popover>
            
            <div class="centrar-circulo">
                <div class="parent">
                    <div class="div1">
                        <div class="circle2">{{ datosGenUsuario.iniciales | titlecase }}</div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</ion-toolbar>
<!-- Navbar -->


<!-- title and info -->

<!-- Menu -->
<ion-row style="width: 100%; height: 100%;">

    <div  style="width: 100%; display: flex;">
        
        <div style="display: flex;min-width: 350px; flex-direction: column;">
            <div style="display: flex; align-items: center; margin-bottom:54px;">
                <div style="background-color:var(--ion-lbs-lila); 
                    margin-left: 30px; margin-top: 25px;" class="circle-nuevo">
                     <span class="iniciales">{{ datosGenUsuario.iniciales | titlecase}}</span>
                </div>
                <div class="nombre" style="padding-left: 22px;margin-top: 32px">
                    {{ datosGenUsuario.nombre | titlecase }}
                </div>
            </div>
            <app-menu></app-menu>
        </div>

        
        <div 
            [style]="(rutaActual[2] == 'libros')
            ?'width: 100%; height: 90vh; margin-right: 69px; margin-bottom: 35px; margin-top: 25px;'
            :'width: 100%; height: 100vh; overflow-x: auto; overflow-y: hidden; margin-right: 0px; margin-bottom: 35px;' ">
            <router-outlet id="main-content"></router-outlet>
        </div>
    </div>
</ion-row>


    <ion-modal id="modal-secuencia" style="--border-radius: 8px; font-family: Volte-Regular;" #modal [style.display]="dataService.displayModal" trigger="open-modal"
		class="modalService"
		[isOpen]="dataService.estadoModal"
		[initialBreakpoint]="0.8"
		[breakpoints]="[0.8, 0.8]"
		[backdropDismiss]="false"
		[backdropBreakpoint]="1"
		handleBehavior="none"
        [handle]="false">
        <ng-template>
            <div style="height: 40px;width: 100%;">
                <div style="background: #f2f6fc;height: 40px;width: 100%;    display: flex;">
                    <ion-label id="label-select-modal">Pagina:</ion-label>
                    <ion-buttons style="color:#000000; right: 0;position: absolute;width: 40px;height: 40px;">
                        <ion-button shape="round" fill="clear" (click)="dataService.abrirModal()">
                            <ion-icon slot="icon-only" size="large" name="close-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <select id="slcModal" #select name="select" [(ngModel)]="pag" (ngModelChange)="onChangePag( $event )" value="{{numeroPagina$}}">
			            <option *ngFor="let pagina of getRangePaginas(totalPaginas)">{{ pagina  }}</option>
			        </select>
                    <div lines="none" style="max-width: 381px;">
                        <p style="margin: auto; margin-top: 8px; margin-left: 25px;color: #000000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{dataService.libroActual.Nombre}}</p>
                    </div>
                </div>
            </div>
            <ion-content class="ion-padding">
                <!-- <quill-editor #quilleditorSec style="padding: 2px;margin: 0;"  [formControl]="formContenidoSecuencia" [modules]="quillModules" id="quillText" format="html" placeholder="Insertar texto aqui..."></quill-editor> -->
                <ngx-jodit #quilleditorSec [options]="options" [(value)]="value" ></ngx-jodit>
                <div style="text-align: center; margin-top: 4px;">
                    <!-- <ion-button shape="round" color="dark" *ngIf="!stateBotonGuardarEditarSecuencia" (click)="addNewList()"> -->
                    <ion-button [disabled]="secuenciaAgregando" shape="round" color="dark" (click)="guardarSecuencia()">
                        <span *ngIf="!stateBotonGuardarEditarSecuencia">
							<ion-icon slot="start" name="paper-plane"></ion-icon>
                        	Enviar
						</span>
                        <span *ngIf="stateBotonGuardarEditarSecuencia">
							<ion-icon slot="start" name="create"></ion-icon>
							Guardar
						</span>
                    </ion-button>
					<ion-button [disabled]="secuenciaBorrando" (click)="borrarSecuencia()" *ngIf="stateBotonGuardarEditarSecuencia" shape="round" color="danger" >
						<ion-icon name="trash" slot="end"></ion-icon>Borrar
                    </ion-button>
                </div>
            </ion-content>
        </ng-template>
    </ion-modal>
<!-- title and info -->




<!-- Modal robotica - test  -->
	<ion-modal id="main-modal" style="--border-radius: 8px; font-family: Volte-Regular;" #modal [style.display]="dataService.displayModalMain"
	class="modalService"
	[isOpen]="dataService.estadoModalMain"
	[initialBreakpoint]="0.8"
	[breakpoints]="[0.8, 0.8]"
	[backdropDismiss]="false"
	[backdropBreakpoint]="1"
	handleBehavior="none"
	[handle]="false">
	<ng-template>
		<div style="height: 40px;width: 100%;">
			<div style="background: #f2f6fc;height: 40px;width: 100%;    display: flex;">
				<ion-buttons style="color:#000000; right: 0;position: absolute;width: 40px;height: 40px;">
					<ion-button shape="round" fill="clear" (click)="dataService.abrirModalMain()">
						<ion-icon slot="icon-only" size="large" name="close-circle"></ion-icon>
					</ion-button>
				</ion-buttons>
				<div lines="none" style="max-width: 381px;">
					<p style=" margin: auto; margin-top: 8px; margin-left: 25px; color: #000000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
						{{ dataService.valueProyecto }}
					</p>
				</div>
				<div lines="none" style="max-width: 381px;">
					<p style="margin: auto; margin-top: 8px; margin-left: 25px;color: #000000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{dataService.libroActual.Nombre}}</p>
				</div>
			</div>
		</div>
		<ion-content class="ion-padding">
			<!-- <quill-editor style="padding: 2px;margin: 0;"  [formControl]="formCotenidoProyecto" [modules]="quillModules" id="quillTextMain" format="html" placeholder="Insertar texto aqui..."></quill-editor> -->
      <ngx-jodit  [options]="options" [(value)]="value" ></ngx-jodit>
      <div style="text-align: center; margin-top: 4px;">
				<!-- <ion-button shape="round" color="dark" *ngIf="!stateBotonGuardarEditarSecuencia" (click)="addNewList()"> -->
				<ion-button shape="round" color="dark" (click)="guardarRequerimiento()">
					<span *ngIf="!stateBotonGuardarEditarSecuencia">
						<ion-icon slot="start" name="paper-plane"></ion-icon>
						Enviar
					</span>
					<span *ngIf="stateBotonGuardarEditarSecuencia">
						<ion-icon slot="start" name="create"></ion-icon>
						Editar
					</span>
				</ion-button>

			</div>
		</ion-content>
	</ng-template>
</ion-modal>


<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
