<div>
  <div style="text-align: center">
    <img
      class="circulo-imagen"
      src="./assets/images/foto-de-perfil.png"
      alt="img"
    />
  </div>
  <div class="docente-info">
    {{ DocenteData.Docente }}
  </div>
  <div style="text-align: center">
    <span class="campus-texto"> Campus: </span>
    <span class="campus-nombre">
      {{ DocenteData.Campus }}
    </span>
  </div>

  <div class="selecciona-libro" style="background: var(--ion-lbs-negro-gris)">
    <div class="text-selecciona-libro">Selecciona el libro.</div>
    <div class="container-libros">
      <div class="libros" *ngFor="let libro of DocenteData.libros" (click)="libroSeleccionado(libro.Id)">
        <div style="text-align: center">
          <span class="nombre-libro"> {{ libro.Nombre }} - </span>
          <span class="escolaridad-libro"> {{ libro.Escolaridad }}</span>
        </div>
      </div>
    </div>

  </div>
</div>
