<div style="display: flex; height: 100%;">
    
    <div class="col-1-card-usuarios">
        <ion-row style="width: 100%;">
            
            <ion-col style="display: flex; height: 30%; justify-content: space-between;">
                
                <div class="title-card-usuarios">
                    <p>Usuarios Activos.<br>Tipo: <span>Alumno.</span></p>
                </div>
                
                <div style="margin-top:23px; margin-right:17px;">
                    <p class="label-input-select">Periodo.</p> 
                    <input type="text" class="input-select" placeholder="Desde - Hasta" />
                </div>
                
            </ion-col>
            
            <ion-col size="12" style="width: 100%; height: 70%; ">
                <div style="width:100%; height: 100%; padding-left:33px; padding-bottom:45px; border: 1px solid blue;">
                    
                    grafica
                </div>
            </ion-col>
        </ion-row>
        
    </div>
    
    <div class="col-2-card-usuarios">
        
        <ion-row>
            <ion-col size="12" style="display: flex; flex-direction: column; align-items: center;">
                <div>
                    <p 
                    class="label-input-select" 
                    style=" margin-top: 23px;">
                    Tipo de usuario.
                </p> 
                <input type="text" class="input-select" style="margin-bottom: 17px;" placeholder="Alumno" />
            </div>
        </ion-col>
        
        <ion-col size="12" style="display: flex; flex-direction: column; align-items: center;">
            <div class="tabla-usuarios">
                <p class="texto-tabla"><span class="numeros-usuarios">3,500</span><br>Usuarios activos.<br></p>
                <hr />
                <p class="texto-tabla"><span class="numeros-usuarios-anterior">3,311</span><br>Usuarios activos<br>periodo anterior.</p>
            </div>
            
        </ion-col>
        
        <ion-col size="12" style="display: flex; flex-direction: column; align-items: center;">
            <button class="ver-mas-boton" >Ver más</button>
        </ion-col>
    </ion-row>
    
</div>

</div>