
    .col-1-card-usuarios {
      display: flex;
      width: 70%;
      height: 100%;
  
      .title-card-usuarios {
        width: 296px;
        height: 66px;
        margin-left: 30px;
        margin-top: 30px;
        p {
          color: #03c1ea;
          font-size: 20px;
          font-family: 'Volte-bold';
          font-weight: 700;
          word-wrap: break-word;
          span {
            color: #525252;
            font-size: 20px;
            font-family: 'Volte-bold';
            font-style: italic;
            font-weight: 700;
            word-wrap: break-word;
          }
        }
      }
    }
  
    .col-2-card-usuarios {
      width: 30%;
      height: 100%;
    }
  
  .input-select {
    background: rgba(255, 255, 255, 0);
    border-radius: 11.93px;
    border: 1px #606060 solid;
    width: 162px;
    height: 24px;
  }
  
  .label-input-select {
    color: #606060;
    font-size: 11px;
    font-family: 'Volte-bold';
    font-weight: 700;
    word-wrap: break-word;
    margin-left: 15px;
    margin-bottom: 4px;
    &::placeholder {
      color: #606060;
      font-size: 11px;
      font-family: 'Volte-Regular';
      font-weight: 400;
      word-wrap: break-word;
      padding-left: 10px;
    }
  }
  
  .tabla-usuarios {
    background: #e6e6e6;
    border-radius: 8px;
    width: 200px;
    height: 247px;
    padding-right: 39px;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .texto-tabla {
    color: #606060;
    font-size: 10px;
    font-family: 'Volte-Regular';
    font-weight: 500;
    word-wrap: break-word;
  }
  .numeros-usuarios {
    color: #03c1ea;
    font-size: 36px;
    font-family: 'Volte-Regular';
    font-weight: 700;
    word-wrap: break-word;
  }
  .numeros-usuarios-anterior {
    color: #606060;
    font-size: 36px;
    font-family: 'Volte-Regular';
    font-weight: 700;
    word-wrap: break-word;
  }
  .ver-mas-boton {
    background: #03c1ea;
    font-family: 'Volte-Semibold';
    border-radius: 77px;
    color: white;
    width: 129px;
    height: 29px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
      &:active{
        background-color: #199FBE;
        transform: scale(0.95);
      }
      &:focus{
        background-color: #199FBE;
      }
  }
  