<style type="text/css"></style>
<link rel="stylesheet" href="assets/font-awesome.min.css">
<img aria-hidden="true" style="width:100%;height:100%;background:black;object-fit:cover;object-position:center;text-indent: -10000px;">
<span class="fa fa-camera" aria-hidden="true" style="position: absolute;right: 77px;bottom: 8px;color: #ffffff;font-size: 42px;"></span>
<span class="fa fa-trash" aria-hidden="true" style="position: absolute;right: 17px;bottom: 8px;color: #ffffff;font-size: 42px;"></span>

<!-- <img aria-hidden="true" >
<span class="fa fa-camera" style="right: 77px;"></span>
<span class="fa fa-trash" style="right: 17px;"></span> -->
