<div class="row">
    <div class="vertical-small">

      <div class="informacion">
          <ion-skeleton-text [animated]="true" class="circulo-imagen"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" class="selecciona-libro"></ion-skeleton-text>  
      </div>
      
      <div class="resumen">
        <skeleton-resumen-loading></skeleton-resumen-loading>
      </div>

    </div> 
    <div class="vertical-large">
      <skeleton-grafica-loading></skeleton-grafica-loading>
    </div>

    <div style="width: 32px;"></div>
    
  </div>
