ion-grid {
	// position:absolute;
	// top: 31vh;
	width: 100%;
}

ion-grid ion-row {
	margin: 0 auto;
	width: 96%;
}

.no-padding { 
	--padding-end: 0; 
	--padding-start: 0;
}

.center-custom {
	margin-left: 7%;
	margin-right: auto;
}

.bg-color-footer {
	--color: #ffffff;
	--background: #6228cf !important;
}

ion-item.msg-error-login {
	--inner-padding-end: 0 !important;
	--inner-padding-start: 0 !important;
	--padding-start: 0;
	--padding-end: 0;
}

.loading-page {
    z-index: 3000;
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
}


/** loading animation css */
	#loading-container-logo {
		height: 100%;
		width: 100%;
		background: #fff;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.sub-container-logo {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.img-logo {
		height: 60px;
		border-radius: 5px;
	}

	.img-logo-container {
		padding-bottom: 5px;
	}

	// @keyframes heartBeat {
	// 0% {
	// 	transform: scale(1);
	// }

	// 14% {
	// 	transform: scale(1.5);
	// }

	// 28% {
	// 	transform: scale(1);
	// }

	// 42% {
	// 	transform: scale(1.5);
	// }

	// 70% {
	// 	transform: scale(1);
	// }
	// }

	@keyframes fadeOut {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
		}

	.fadeOut-exit {
		animation-name: fadeOut;
		animation-duration: 400ms;
	}

	.heartBeat {
	animation-name: heartBeat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	}

	.spin {
		animation: spin;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
	}

	.stripes-animation { 
		animation: progress-bar-stripes 1s linear infinite;
		background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    	background-size: 1rem 1rem;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	
	@keyframes heartBeat {
		0% {
			transform: scale(1);
		}
		14% {
			transform: scale(0.96);
		}
		28% {
			transform: scale(1);
		}
		42% {
			transform: scale(0.96);
		}
		70% {
			transform: scale(1);
		}
	}
	.loading-animation {
		animation: spin 0.5s infinite, heartBeat 2s infinite;
	}


	@keyframes fadeIna {
		from {
		  opacity: 0;
		}
	  
		to {
		  opacity: 1;
		}
	  }
	  
	  .fadeIna {
		animation-name: fadeIna;
		animation-duration: 400ms;
	  }