<div  class="loading-page" *ngIf="pageisLoading" style="border: 1px solid black;">
	<div id="loading-container-logo">
		<div class="sub-container-logo">
			<div class="img-logo-container loading-animation-div">
				<img class="img-logo loading-animation-img" src="assets/lbslogo.png"/>
			</div>
		</div>
	</div>
</div>


<ion-content class="fadeIna" *ngIf="!pageisLoading">
    <ion-grid class="ion-justify-content-center" style="height: 100%;">
        <ion-row color="primary" class="ion-justify-content-center" style="height: 100%; ">

            <ion-col  class="align-self-center" size-md="6" size-lg="5" size-xs="12" style="margin-bottom: 10%;">
                <img style="width: 60px; left: 190px;top: 15px; justify-self: start; position: relative; z-index: 2; pointer-events: none; filter: invert(53%) sepia(96%) saturate(2318%) hue-rotate(154deg) brightness(104%) contrast(101%);" src="/assets/icon/icono_perseus.svg" alt="PerseusApp" role="presentation">
                <ion-item lines="none" class="no-padding" style="overflow: initial;">
                    <div class="center-custom" >
                        <span style="font-family:Volte-Bold; font-size: 60px; font-weight: 500;">Perseus</span><span style="font-family: Volte-Light; font-size: 60px; font-weight: 900; color: #00c1eb;">App</span>
                    </div><br>
                </ion-item>
                <ion-item lines="none" class="no-padding" style="overflow: initial;">
                    <div class="center-custom">
                        <p style="font-family: Volte-Medium; font-size: 26px; font-weight: 500; letter-spacing: 1px; margin-bottom: 10px;">Eleva la enseñanza.</p>
                        <hr class="login-line">
                        <p style="font-family: Volte-RegularItalic;">Crea secuencias didácticas y lleva <br> tus clases al siguiente nivel.</p>
                    </div>
                </ion-item>
            </ion-col>
            
            <ion-col size-md="6" size-lg="5" size-xl="4" size-xs="12" class="align-self-center">
                <form [formGroup]="frmLogin" (ngSubmit)="onLogin()" style="margin: 0px 35px 0px 35px;">
                    <ion-card style="border-radius: 10px;">
                        <div class="ion-padding">
                            <ion-list style="padding: 25px">
                                <ion-item lines="none" style="text-align: center;">
                                    <ion-label>
                                        <h1 style="font-family: Volte-Bold;">¡Bienvenido(a)!</h1>
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label style="font-family: Volte-Regular;">Usuario</ion-label>
                                </ion-item>
                                <ion-item style="padding-bottom: 16px;">
                                    <ion-input style="font-family: Volte-Light;" fill="outline" class="cajaTexto" formControlName="usuario" type="email" placeholder="Ingresa tu usuario">
                                        <ion-icon name="person-outline" style="padding-right: 16px;"></ion-icon>
                                    </ion-input>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label style="font-family: Volte-Regular;">Constraseña</ion-label>
                                </ion-item>
                                <ion-item  lines="">
                                    <ion-input style="font-family: Volte-Light;" (keyup.enter)="onLogin()" clear-on-edit="false" class="cajaTexto" formControlName="password" type="password" placeholder="Ingresa tu contraseña">
                                        <ion-icon name="lock-closed-outline" style="padding-right: 16px;"></ion-icon>
                                    </ion-input>
                                </ion-item>
                                <ion-item lines="none" style="padding-top: 16px">
                                    <div class="ion-padding" style="width: 100%;">
                                        <ion-button shape="round" style="
                                        height: 48px;
                                        --background: #00c1eb;
                                        --background-activated: #028dac;
                                        --background-focused: #028dac;
                                        --background-hover: #028dac;
                                        font-family: Volte-Bold;" size="large" type="submit" expand="block">
											<span >Entrar</span>
											<ion-spinner *ngIf="loginLoading" name="crescent"></ion-spinner>
										</ion-button>
                                    </div>
                                </ion-item>
								<ion-item class="msg-error-login" lines="none" *ngIf="isLoginError">
									<ion-text color="danger">
										<ion-label style="font-family: Volte-Regular;">{{ msgErr }}</ion-label>
									  </ion-text>
								</ion-item>
                            </ion-list>
                        </div>
                    </ion-card>
                </form>
            </ion-col>

        </ion-row>

        <img style="width: 150px; display: block; position: absolute; bottom: 40px; right: 60px; pointer-events: none;" src="/assets/icon/logo_lbs.svg" alt="LBS" role="presentation">
        <img style="width: 400px; position: absolute;right: 50px;bottom: -25px;z-index: -1; pointer-events: none; filter: invert(100%) sepia(82%) saturate(526%) hue-rotate(172deg) brightness(101%) contrast(98%);" src="/assets/icon/icono_perseus.svg" alt="PerseusApp" role="presentation">
	
    </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar style="bottom: 0px; width: 100%; text-align: center; align-items: center; --min-height: 0;">
        <ion-item lines="none" class="bg-color-footer">
            <p style="font-family: Volte; font-size: 24px; font-weight: 500; margin: 0px auto; padding: 10px;">Copyright  <b style="font-weight: 700;">PerseusApp</b>. All rights reserved.<img style="width: 20px; margin-left: 15px; pointer-events: none; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);" src="/assets/icon/icono_perseus.svg" alt="PerseusApp" role="presentation"></p>
        </ion-item>
    </ion-toolbar>
</ion-footer>