ion-grid {
	// position:absolute;
	// top: 31vh;
	width: 100%;
}

ion-grid ion-row {
	margin: 0 auto;
	width: 96%;
}

.no-padding { 
	--padding-end: 0; 
	--padding-start: 0;
}

.center-custom {
	margin-left: 7%;
	margin-right: auto;
}

.bg-color-footer {
	--color: #ffffff;
	--background: #F4315D !important;
}