<div  class="loading-page" *ngIf="pageisLoading">
	<div id="loading-container-logo">
		<div class="sub-container-logo">
			<div class="img-logo-container loading-animation-div">
				<img class="img-logo loading-animation-img" src="./assets/lbslogo.png"/>
			</div>
		</div>
	</div>
</div>

<ion-content  *ngIf="!pageisLoading">
	
		<ion-row style="width: 100%; height: 100%;">
			<ion-col class="col-izquierdo" size="5">
				<div style="display: block; text-align: center; justify-content: center; align-items: center;">
					
					<img style="position: absolute; top: 61px; left: 61px;" src="./assets/icon/logo_lbs_blanco_nuevo.svg" alt="LBS" role="presentation">
					
					<img class="icon-perseus" src="./assets/icon/icono_perseus.svg" alt="PerseusApp" role="presentation">
					<div style="width: 100%; display: flex; justify-content: center; margin-bottom: 0px;line-height: 1; ">
						<p class="perseus">Perseus</p>
						<p class="app">App</p>
					</div>
					<p class="eleva">Eleva la enseñanza</p>
					<div style="width: 100%; height: 100%; border: 1.5px white solid;margin-bottom: 25px;"></div>
					<div style="text-align:justify; width: 333px; height: 79px; ">
						<p class="eslogan">Crea secuencias didácticas y lleva tus clases
							<span class="nivel">al siguiente nivel.</span>
						</p>
						
					</div>
				</div>
			</ion-col>
			<ion-col class="col-derecho img-prueba" size="7">

				<div style="display: block;">
					<div style="text-align: justify;">
						<p class="bienvenido">Bien<br>venido/a</p>
					</div>
					<form [formGroup]="frmLogin" (ngSubmit)="onLogin()">
						<div class="container-form">
						
									<div class="input-redondeado" style="padding-top: 30px;padding-bottom: 36px;">
										<ion-input 
											formControlName="usuario" 
											type="email" 
											class="inputText"
											placeholder="Usuario">
											<img class="img-input" style="width: 19px; height: 17px;" src="./assets/icon/usuario.svg" alt="usuario">
										</ion-input>
									</div>
									
									<div class="input-redondeado" style="padding-bottom: 21px ;">
										<ion-input 
											(keyup.enter)="onLogin()" 
											clear-on-edit="false" 
											formControlName="password" 
											type="password"
											class="inputText" 
											placeholder="Contraseña">
											<img class="img-input" style="width: 19px; height: 22px; " src="./assets/icon/password.svg" alt="password">
										</ion-input>
									</div>

									<div style="display: flex;justify-content: center;padding-bottom: 24px;" lines="none" *ngIf="isLoginError">
										
										<ion-text>
											<ion-label class="message-error">
												¡Usuario o contraseña 
												<span class="message-error-bold">
													incorrecta!
												</span>
											</ion-label>
										  </ion-text>
									</div>
									
									<div style=" display: flex; justify-content: center;">
										<div style="position: absolute; bottom: 48px;">
											<button class="boton-estilo" type="submit" >
												<span class="boton-label">¡Entrar!</span>
												<!-- <ion-spinner *ngIf="loginLoading" name="crescent"></ion-spinner> -->
											</button>
										</div>
									</div>
							 
						</div>
					</form>
				</div>
			</ion-col>
		</ion-row>

</ion-content>

<app-footer></app-footer>