
  <div>
        <img 
          class="menu-button" 
          [ngStyle]="{ 'display': isMenuOpen ? 'none' : 'block' }" 
          (click)="toggleMenu()" 
          src="/assets/icon/menu-icon.svg" 
          alt="menu"
        >
    
    <div class="menu slideInLeft" [ngStyle]="{ 'display': isMenuOpen ? 'block' : 'none' }">
      <ul>

        <li routerLinkActive="active">
          <img class="menu-list" src="/assets/icon/Book.svg" alt="book">
          <a [routerLink]="['/home']" ><p>Libros</p></a>
          <div class="boton-x">
            <button class="boton-x" [ngStyle]="{ 'display': isMenuOpen ? 'block' : 'none' }" (click)="closeMenu()">
              <div class="circle">
                x
              </div>
            </button>
          </div>
        </li>

        <!-- Menu list -->
        <!-- <li routerLinkActive="active">
          <img class="menu-list" src="/assets/icon/file.svg" alt="file">
          <a [routerLink]="['/secuencias'] "><p>Secuencias</p></a>
        </li> -->
        
        <li routerLinkActive="active">
          <img class="menu-list" src="/assets/icon/estadisticas.svg" alt="secuencias">
          <a [routerLink]="['/estadisticas'] "><p>Estadisticas</p></a>
        </li>
        <!-- Menu list -->
      </ul>
      </div> 
    </div>