<div class="grafica">
    <div class="space-between">
        <div style="display: flex; margin-left: 43px;">
            <ion-skeleton-text [animated]="true" class="linea-uno"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" class="linea-uno"></ion-skeleton-text>  
        </div>

    <ion-skeleton-text [animated]="true" class="linea-dos margin-right-skeleton" style="margin-top: 50px;"></ion-skeleton-text>  
</div>
<div class="space-between">
    <ion-skeleton-text [animated]="true" class="card-skeleton"></ion-skeleton-text>  
    <ion-skeleton-text [animated]="true" class="linea-dos margin-right-skeleton" style="margin-top: 25px;"></ion-skeleton-text>  
</div>

<ion-skeleton-text [animated]="true" class="grafica-skeleton margin-right-skeleton"></ion-skeleton-text>

</div>
