<div class="modal-container-requer" style="border: 1px solid black">

	<div class="modal-header-requer" style="border: 1px solid black">
		<h3 id="titulo">Ttulo</h3>
		<button type="button" class="btn btn-requer btn-cerrar-requer btn-outline-secondary">
			<i class="fa fa-window-close" aria-hidden="true"></i>
		</button>
	</div>

	<div class="modal-content-requer" style="border: 1px solid black">
		Content
	</div>

	<div class="modal-footer-requer" style="border: 1px solid black;">
		<button type="button" class="btn btn-requer btn-dark btn-cerrar">Cerrar</button>
	</div>
</div>