.active p {
  color: var(--ion-lbs-lila);
  font-size: 24px;
  font-family: 'Volte-bold';
  font-weight: 700;
  word-wrap: break-word;
  a {
    text-decoration: none;
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  ul {
    list-style-type: none; /* Quita los puntos de la lista */
  }

  li {
    cursor: pointer;
  }
 
}

.li-list {
  color: white;
  margin-bottom: 40px;
  margin-left: 0px;
  padding-left: 0px;
}

.a-menu {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.img-list {
  width: 24px;
  height: 24px;
  margin-right: 19px;
  margin-left: -25px;

}

p {
  margin: 0;
  color: black;
  font-size: 24px;
  font-family: 'Volte-Regular';
  font-weight: 400;
  word-wrap: break-word;
}


.boton-x {
  position: absolute;
  background-color: transparent; 
  left: 300px;
  top: 205px;
  border: none; 
  cursor: pointer; 
  outline: none; 
}

.circle {
  width: 18px; 
  height: 18px; 
  border-radius: 50%; 
  background: rgba(217, 217, 217, 0.70);
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: var(--ion-lbs-lila); 
  font-size: 12px; 
  margin-left: 120px;


  
  border: none;
  outline: none;  
  cursor: pointer;
  z-index: 99;
  
  &:active {
    transform: scale(0.9);
  }
}


.menu-button {
  padding-left: 59px;
  padding-top: 20px;
  margin-right: 96px;
  background-color: transparent;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
  
}
.container {
  display: flex; /* Usa Flexbox para el contenedor principal */
  height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
}

.menu-column {
  flex: 0 0 20%; /* El menú ocupa el 20% del ancho disponible */
  border: 1px solid black;
}

.content-column {
  flex: 1; /* El contenido principal se expande para llenar el espacio restante */
  border: 1px solid black;
}
