
<div>
           
  

<div class="menu">
<ul style="width:350px; ">
  
  <!-- Menu list -->
    <li class="li-list" routerLink="/home/libros" routerLinkActive="active" (click)="navigateToLibros()">
      <a class="a-menu">
        <img class="img-list" src="./assets/icon/Book.svg" alt="book">
        <p>Libros</p>
      </a>
      
    </li>
   
  <li class="li-list" routerLink="/home/secuencias" routerLinkActive="active" (click)="navigateToSecuencias()">
    <a class="a-menu">
    <img class="img-list" src="./assets/icon/file.svg" alt="secuencias">
      <p>Secuencias</p>
    </a>
  </li>

  <li class="li-list" routerLink="/home/estadisticas" routerLinkActive="active" (click)="navigateToEstadisticas()">
    <a class="a-menu">
    <img class="img-list" src="./assets/icon/estadisticas.svg" alt="estadisticas">
      <p>Estadisticas</p>
    </a>
  </li>
  <!-- Menu list -->
</ul>
</div> 
</div>