<ion-content [fullscreen]="true" style="font-family:  Solitreo;">
	<div class="container-loading" *ngIf="!acordeonEstado && !librosLoading">
		<ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
	</div>
    <!-- Libro sections-->
    <ion-title style="margin-top: 30px;font-size: 30px;font-weight: 500;" *ngIf="!iframeEstado">Libros</ion-title>
    <ion-accordion-group style="margin-right: 40px;" expand="inset" *ngIf="acordeonEstado">

        <ion-accordion class="fade-in" *ngFor="let grado of librosAll; index as i;" [value]="i">
            <ion-item slot="header" color="light">
                <ion-label style="font-weight: 500;">{{ grado.Grados }} Grado</ion-label>
            </ion-item>
            <div class="fade-in-down" *ngFor="let libro of grado.Libros;" slot="content">
                <ion-item button slot="content" (click)="abrirLibro(libro)">
                    <ion-label style="padding-left: 20px;">{{ libro.Nombre }}</ion-label>
                </ion-item>
            </div>
        </ion-accordion>

    </ion-accordion-group>

    <div style="text-align: center; height: 100%;" *ngIf="iframeEstado">
        <div class="contenedorIframe" style="height: 91vh;">
				<ion-fab [ngClass]="{'traslateY-fab-crear-nota-activated': crearNotasActivated, 'traslateY-fab-crear-nota-desactivated': crearNotasDesativado }" vertical="bottom" horizontal="start" (click)="openFabsMenuLibro()" >
					<ion-fab-button  close-icon="chevron-down"><ion-icon name="chevron-up-outline"></ion-icon></ion-fab-button>
					<ion-fab-list side="top" [activated]="fabBtnOpen">
					  <ion-fab-button>
						<ion-icon name="bookmark"></ion-icon>
					  </ion-fab-button>
					  <ion-fab-button (click)="openListaFavoritosYNotas()">
						<ion-icon name="star"></ion-icon>
					  </ion-fab-button>
					  <ion-fab-button>
						<ion-icon name="list"></ion-icon>
					  </ion-fab-button>
					  <ion-fab-button (click)="openActivarNotaDinamica()">
						<ion-icon name="document"></ion-icon>
					  </ion-fab-button>
					  <ion-fab-button>
						<ion-icon name="create"></ion-icon>
					  </ion-fab-button>
					  <ion-fab-button>
						<ion-icon name="sparkles"></ion-icon>
					  </ion-fab-button>
					</ion-fab-list>
				  
				  </ion-fab>
	
				  <ion-fab [class]="fabPageNumberClass" [ngClass]="{'traslateY-fab-crear-nota-activated': crearNotasActivated, 'traslateY-fab-crear-nota-desactivated': crearNotasDesativado }" vertical="bottom" horizontal="start" style="margin-bottom: 4rem;">
					<ion-fab-button color="medium">{{ paginaActual}}</ion-fab-button>
				  </ion-fab>
				  
				  <ion-fab [class]="fabPageNumberClass" [ngClass]="{'traslateY-fab-crear-nota-activated': crearNotasActivated, 'traslateY-fab-crear-nota-desactivated': crearNotasDesativado  }" vertical="bottom" horizontal="start" style="margin-bottom: 8rem;">
					<ion-fab-button (click)="regresar()" color="medium"><ion-icon name="arrow-undo"></ion-icon></ion-fab-button>
				  </ion-fab>
			  <!-- <ion-fab vertical="bottom" horizontal="start" style="padding-bottom: 11rem;" >
				<ion-fab-button (click)="regresar()" color="medium">
					<ion-icon name="arrow-undo"></ion-icon>
				</ion-fab-button>
			</ion-fab> -->
            <iframe id="iframe10" #iframe src="/assets/ESC_03_ciencias_naturales_/" frameborder="0" style="height: 100%; width: 100%;"></iframe>
            <!-- <iframe id="iframe10" #iframe [src]="urlLibro" frameborder="0" style="height: 100%; width: 100%;"></iframe> -->
        </div>
    </div>
</ion-content>