<div class="container">
    <span class="titulo">Resumen</span>

    <div class="container-resultado">
        
        <div class="box box-horas">
            <div class="horas-numero">
                107
            </div>
            <div class="horas-texto">
                Horas de Uso
            </div>
        </div>
        
        <div class="vertical-line"></div>
        
        <div class="box box-sesiones">
            <div class="horas-numero">
                85
            </div>
            <div class="horas-texto">
                Sesiones
            </div>
        </div>
        
        
    </div>
</div>