<ion-row style="width: 100%; height: 100%; padding: 20px;">
    <ion-col size="12" >
        
        <div class="row-1">
            
            <div class="card-usuarios-activos">
                <card-usuarios></card-usuarios>
            </div>
            
            <div class="card-top-10">
            </div>
        </div>
        
        <div class="row-2">
            
            <div class="card-libros-descargados" >
                <card-libros-descargados></card-libros-descargados>
            </div>
            
            <div class="card-porcentaje">
                
            </div>
        </div>
        
        
        
    </ion-col>
</ion-row>






