<style type="text/css"></style>

<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/style.css">

<script type="text/javascript" src="assets/indice.js"></script> 
<script src="assets/jquery-3.3.1.slim.min.js"></script>
<script src="assets/popper.min.js"></script>
<script src="assets/bootstrap.min.js"></script>


<!-- Checar como hacer el backdrop con el hammer -->
<div class="modal" id="modalIndice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Índice</h5>
        <button id="btnTacha" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="list-group list-group-flush">
            </div>
        </div>
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button id="btnCerrarIndice" type="button" class="btn btn-primary">Cerrar</button>
        </div>
    </div>
    </div>
</div>