.container {
    position: absolute;
    background: var(--ion-lbs-gris);
    width: 704px;
    height: 546px;
    border-radius: 15px;
    margin-top: 149px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    
  }
  