<div class="container">

    <div class="header">
        <div style="width: 311px; height: 92px; background: #373636; box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15); border-radius: 14px">
            <div>
                <span style="color: white; font-size: 32px; font-family: Volte; font-weight: 500; line-height: 37.92px; word-wrap: break-word">
                    Tiempo de uso de: <br/>
                </span>
                <span style="color: white; font-size: 24px; font-family: Volte; font-weight: 700; line-height: 28.44px; word-wrap: break-word">
                    Science 1.
                </span>
            </div>
        </div>
    </div>

    <div class="grafica">

    </div>

  </div>