<div class="container">

    <div class="header">
        <div style="display: flex;">
            <div class="card-titulo">
                <div>
                    <span class="tiempo-texto">
                        Tiempo de uso de:
                    </span>
                    <span class="libro-nombre">
                        Science 1.
                    </span>
                </div>
            </div>
            <div class="card-portada-libro">
                <img class="portada" src="./assets/images/libro-portada.png" alt="libro-portada">
            </div>
        </div>

            <div>
                <div class="periodo-texto">Periodo.</div>
                
                <div class="datetime" (click)="openDatetime('desde')">
                    {{ (desdeLabel ==='') ?'Desde': desdeLabel }}
                    <img *ngIf="desde" class="dataTime-icon" src="./assets/icon/dateTime-icon.svg" alt="dataTime-icon">
                </div>

                    <ion-datetime 
                        *ngIf="desde" 
                        presentation="date"
                        [value]="desdeValue"
                        (ionBlur)="this.desde = false"
                        (ionChange)="onDesdeChange($any($event))">
                    </ion-datetime>

                <div class="datetime" (click)="openDatetime('hasta')">
                    {{ (hastaLabel ==='') ?'Hasta': hastaLabel }}
                    <img *ngIf="hasta" class="dataTime-icon" src="./assets/icon/dateTime-icon.svg" alt="dataTime-icon">
                </div>
                <ion-datetime 
                    *ngIf="hasta" 
                    presentation="date"
                    [value]="hastaValue"
                    (ionBlur)="this.hasta = false"
                    (ionChange)="onHastaChange($any($event))">
                </ion-datetime>

            </div>
        

    </div>

    
        
    <div class="horas-de-uso">
        Horas de Uso
    </div>
        <div class="container-grafica">
            <div class="grafica">
                <canvas id="TiempoDeUsoDeDocentes"></canvas>
            </div>
            <div class="dias">
                Días
            </div>
            
        </div>

  </div>