/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// quill editor
@import '~quill/dist/quill.bubble.css'; 
@import '~quill/dist/quill.snow.css';

ion-modal {
    --height: 55%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    //--min-width: 400px;
    //--max-width: 80%;
	--width: 45%;
	justify-content: flex-end;
}

  
  
ion-modal ion-toolbar {
    --background: #92949c;
    --color: white;
}

ion-modal ion-content {
	--padding-top: 0px !important;
    --padding-start: 0px !important;
	--padding-end: 0px !important;
}

ion-modal #slcModal {
    padding: 7px 40px 7px 12px;
    border: 1px solid #E8EAED;
	color: #223254;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

#slcModal option {
	color: #223254;
}

ion-modal #quillText {
	height:57%; 
	width: 100%;
}

#quillText .ql-toolbar {
	background-color: #ffffff;
	// border-top-left-radius: 4px;
	// border-top-right-radius: 4px;
}

#quillText .ql-container {
    background-color: #ffffff;
	color: #000000;
	// border-bottom-left-radius: 4px;
	// border-bottom-right-radius: 4px;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@font-face {
  font-family: 'Solitreo';
  src: url('./assets/fonts/canva2.woff2')
}


