<!-- NavBar -->

<img class="perseus-fondo" src="/assets/icon/icono_perseus_folder.svg" alt="PerseusApp" role="presentation">

<ion-toolbar style=" --background: #03C1EA; ">
    <div style="position: absolute; top: 0; display: flex;justify-content: center;align-items: center; 
                width: 100%; height: 70px; overflow-x: auto; overflow-y: hidden;">

                <div class="logo-center">
                    <img src="/assets/icon/logo_lbs_blanco.svg" alt="LBS+" role="presentation">
                </div>
       
                <ion-item 
                    lines="none" 
                    class="acciones" 
                    *ngIf="nombreLibro !== '' && appPages[0].activo" 
                    class="slide-in-animation acciones">
                
                <ion-select 
                    [interfaceOptions]="{cssClass: 'accionesSelect'}" 
                        interface="popover" style="--background-hover: #028dac; font-family: Volte-Medium !important;" 
                        [ngModel]="selectAcciones" 
                        (ionDismiss)="cleanSelectDropDown()" 
                        (ionChange)="selectDropDown( $event )" 
                        selected-text="Acciones" 
                        placeholder="Acciones">
                <ion-select-option 
                    style="--background-hover: #028dac; font-family: Volte-Medium !important;" 
                    value="crear-secuencia">Crear Secuencia
                </ion-select-option>
                
            </ion-select>
        </ion-item>

        <ion-breadcrumbs 
            class="historial-link" 
            color ="light" 
            style=" padding-left: 160px; margin-bottom: 16px;">
            <ion-breadcrumb class="history" (click)="regresarInicio()">Inicio</ion-breadcrumb>
                <ion-breadcrumb class="history" 
                    [routerLink]="['/home']" 
                    routerLinkActive="active" 
                    *ngIf="appPages[0].activo" 
                    (click)="regresarInicio()">Libros</ion-breadcrumb>
            <ion-breadcrumb class="history" *ngIf="nombreLibro !== '' && appPages[0].activo">{{nombreLibro}}</ion-breadcrumb>
            <ion-breadcrumb class="history" *ngIf="nombreLibro !== '' && appPages[0].activo">Pagina: {{ pag }}</ion-breadcrumb>
        </ion-breadcrumbs>
        <div style="order: 3; margin-left: auto; display: flex;margin-right: 36px;justify-content: flex-end; align-items: center;">

            <div style="margin-bottom: 26px; transform: translateY(25%);padding-right: 17px;"  id="options-trigger" aria-hidden="true"  class="NA_Img dkWypw">
                <img style="width: 27px; height: 27px; " src="/assets/icon/summer.svg" alt="settings">
            </div>

            <ion-popover trigger="options-trigger" [dismissOnSelect]="true">
                <ng-template>
                    <ion-content>
                        <ion-list lines="none">
                            <!-- <ion-item style="--background-hover: #6228cf;" [button]="true" [detail]="false">Otros</ion-item> -->
                            <ion-item style="--background-hover: #028dac; font-family: Volte-Medium;" [button]="true" [detail]="false" (click)="onLogout()">Cerrar sesión</ion-item>
                        </ion-list>
                    </ion-content>
                </ng-template>
            </ion-popover>
            
            <div class="centrar-circulo">
                <div class="parent">
                    <div class="div1">
                        <div class="circle2">{{ datosGenUsuario.iniciales }}</div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</ion-toolbar>
<!-- Navbar -->

<!-- title and info -->
<ion-row style="width: 100%; height: 10%; margin-bottom: 45px;">
    <ion-col size="12" style="padding-left: 59px; padding-top: 49px;">
         <div style="display: flex;">
            
                <div style="background-color:#03C1EA;" class="circle-nuevo">
                    <span class="iniciales">{{ datosGenUsuario.iniciales}}</span>
                </div>
                <div class="nombre" style="padding-left: 22px;">
                 {{ datosGenUsuario.nombre }}
            </div>
            
            <ion-text class="title" style="position: absolute;left: 370px;">
                Libros
            </ion-text>
        </div>
    </ion-col>
</ion-row>
<!-- title and info -->

<!-- Menu -->
<ion-row style="width: 100%; height: 100%;">
    <div  style="width: 100%; display: flex;">
        <app-menu-layout></app-menu-layout>
        <div style="width: 100%; margin-right: 69px;">
            <router-outlet></router-outlet>
       </div>
    



