<div class="column">
  <div class="horizontal-small">
    <div style="position: absolute; right: 36px; top: 84px">
      <img src="./assets/icon/logo_lbs_blanco_nuevo.svg" alt="logo-lbs" />
    </div>
    <img
      style="width: 100%; height: 100%"
      src="./assets/images/header-card-tiempo-de-uso-de-docentes.png"
      alt="header-card"
    />
  </div>
  <div class="horizontal-large">
    <div>
      <img src="./assets/icon/search.svg" alt="search" />
    </div>
    <div style="text-align: center">
      <span class="realice-una">Realice una<br /></span>
      <span class="busqueda">búsqueda.</span>
    </div>
  </div>
</div>
