
<div class="container-principal">

<div class="row-select">
  <ion-select
    class="input-select"
    interface="popover"
    placeholder="Campus"
    [interfaceOptions]="librosDescargadosSelect"
    (ionChange)="handleChange($event)"
  >
    <ion-select-option value="0">Todos</ion-select-option>
    <ion-select-option *ngFor="let item of ionSelectValues" [value]="item.Id">{{item.Nombre}}</ion-select-option>
    
  </ion-select>

  <ion-searchbar
    placeholder="Buscar Docente"
    [debounce]="1000"
    (ionChange)="handleInput($any($event))"
    (ionInput)="handleInputSearch()"
    (ionClear)="clearSearch()"
    >
  </ion-searchbar>
  
  <ion-card *ngIf="isLoadingBusqueda 
            || BusquedaNoHayRelaciones 
            || TotalCampusSeleccionado"  
            class="card-busqueda"  
            mode="ios">
    <ion-card-content>
      <div class="card-loading-busqueda">
        <ion-spinner *ngIf="isLoadingBusqueda"></ion-spinner>
        <h3 *ngIf="isLoadingBusqueda" style="margin-left: 4px;">Cargando...</h3>
        <h2 *ngIf="BusquedaNoHayRelaciones" style="margin-left: 4px;">¡No Hay Relaciones!</h2>
      </div>

      <ion-item *ngIf="TotalCampusSeleccionado">
        <div style="position: absolute; right: 0px; bottom: 0px">
          <ion-label>{{ TotalDocentesByCampus }} Resultados</ion-label>
        </div>
      </ion-item>

    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="busquedaVisible 
              && !isLoadingBusqueda 
              && !BusquedaNoHayRelaciones 
              && !TotalCampusSeleccionado"  
              class="card-busqueda" type="button" mode="ios">
    <ion-card-content>
    <div>
      <div class="card-lista-busqueda">
        
        <ion-list mode="ios" >
          <ion-item *ngFor="let docente of BusquedaResults; "
          (click)="selectDocente(docente)">
          <ion-label>
            <span class="docente">
              {{docente.UsuarioNombreCompleto}} -
            </span>
            <span class="nivel-entidad">
              {{docente.UsuarioEscolaridad}} - {{docente.CampusNombre}}<br/>
            </span>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-item lines="none">
      <div class="resultado-posicion">
        <hr class="linea-resultado">
        <ion-label class="label-resultado">{{ TotalDocentesByCampus }} Resultados</ion-label>
      </div>
    </ion-item>
  </div>
    </ion-card-content>
  </ion-card>

</div>

<div style="position: relative;">
  
  <vista-principal></vista-principal>
 
  <div class="row" *ngIf="!cargandoInfoDocente && DocenteSeleccionado ">
    
    <div class="vertical-small">
      <div class="informacion">
        <docente-info 
          [DocenteData]="docenteSeleccionadoData"
          [LibrosDocenteData]="LibrosDocenteData" 
          (libroSeleccionadoEvent)="manejarLibroSeleccionado($event)">
        </docente-info> 
      </div>
      
      <div class="resumen">
        <skeleton-resumen-loading *ngIf="cargandoSkeleton"></skeleton-resumen-loading>
        <resumen-espera *ngIf="!libroSeleccionado"></resumen-espera>
        <resumen-resultado *ngIf="libroSeleccionado && !cargandoSkeleton && !errorlibros"></resumen-resultado>
        <resumen-error *ngIf="libroSeleccionado && !cargandoSkeleton && errorlibros"></resumen-error>
      </div>
    </div>

    <div class="vertical-large">

      <div class="container-exportar" *ngIf="libroSeleccionado && !cargandoSkeleton && !errorlibros">
        <img style="width: 23px; height: 33px;" src="./assets/icon/PDF_file_icon.svg" alt="file-icon">
        <div class="exportar-texto">Exportar información</div>
      </div>

      <skeleton-grafica-loading *ngIf="cargandoSkeleton"></skeleton-grafica-loading>
      <grafica-espera *ngIf="!libroSeleccionado"></grafica-espera>
      <grafica-resultado [LibroDocenteData]="LibroDocenteData" *ngIf="libroSeleccionado && !cargandoSkeleton && !errorlibros"></grafica-resultado>
      <grafica-error *ngIf="libroSeleccionado && !cargandoSkeleton && errorlibros"></grafica-error>
    </div>

    <div style="width: 32px;"></div>

  </div>

  <skeleton-loading *ngIf="cargandoInfoDocente"></skeleton-loading>
  

</div>
</div>

