<div class="row-select">
  <ion-select
    class="input-select"
    interface="popover"
    placeholder="Campus"
    [multiple]="true"
    [interfaceOptions]="librosDescargadosSelect"
    (ionChange)="handleChange($event)"
  >
    <ion-select-option value="Mazatlán">Mazatlán</ion-select-option>
    <ion-select-option value="Culiacán">Culiacán</ion-select-option>
    <ion-select-option value="San Luis Potosi"
      >San Luis Potosi</ion-select-option
    >
    <ion-select-option value="Zacatecas">Zacatecas</ion-select-option>
    <ion-select-option value="Durango">Durango</ion-select-option>
    <ion-select-option value="Torreon">Torreón</ion-select-option>
  </ion-select>

  <ion-searchbar
    placeholder="Buscar Docente"
    [debounce]="1000"
    (ionInput)="handleInput($any($event))"
  >
  </ion-searchbar>
  
  <ion-card *ngIf="busquedaVisible" class="card-busqueda"  mode="ios">
    <ion-card-content>
      <ion-list mode="ios">
        <ion-item *ngFor="let result of results" (click)="selectDocente(result.Id)">
          <ion-label>
              <span class="docente">
                {{result.Docente}} -
              </span>
              <span class="nivel-entidad">
                {{result.Escolaridad}} - {{result.Campus}}<br/>
              </span>
              </ion-label>
        </ion-item>
        <ion-item>
          <div style="position: absolute; right: 0px; bottom: 0px">
            <ion-label>{{ TotalResult }} Resultados</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
 
<div class="container">

  <vista-principal></vista-principal>

  <div class="row" *ngIf="!cargandoInfoDocente && DocenteSeleccionado ">
    
    <div class="vertical-small">
      <div class="informacion">
        <docente-info 
          [DocenteData]="docenteSeleccionadoData" 
          (libroSeleccionadoEvent)="manejarLibroSeleccionado($event)">
        </docente-info> 
      </div>
      
      <div class="resumen">
        <skeleton-resumen-loading *ngIf="cargandoSkeleton"></skeleton-resumen-loading>
        <resumen-espera *ngIf="!libroSeleccionado"></resumen-espera>
        <resumen-resultado *ngIf="libroSeleccionado && !cargandoSkeleton"></resumen-resultado>
      </div>
    </div>

    <div class="vertical-large">
      <skeleton-grafica-loading *ngIf="cargandoSkeleton"></skeleton-grafica-loading>
      <grafica-espera *ngIf="!libroSeleccionado"></grafica-espera>
      <grafica-resultado *ngIf="libroSeleccionado && !cargandoSkeleton"></grafica-resultado>
    </div>

  </div>

  <skeleton-loading *ngIf="cargandoInfoDocente"></skeleton-loading>
  

</div>
