<div class="row-select">
  <ion-select
    class="input-select"
    interface="popover"
    placeholder="Campus"
    [interfaceOptions]="librosDescargadosSelect"
    (ionChange)="handleChange($event)"
  >
    <ion-select-option *ngFor="let item of ionSelectValues" [value]="item.Id">{{item.Nombre}}</ion-select-option>
    
  </ion-select>

  <ion-searchbar
    placeholder="Buscar Docente"
    [debounce]="1000"
    (ionInput)="handleInput($any($event))"
  >
  </ion-searchbar>
  
  <ion-card *ngIf="busquedaVisible" class="card-busqueda"  mode="ios">
    <ion-card-content>
      <div style="overflow-y: auto; height: 400px;">

        <ion-list mode="ios" >
          <ion-item *ngFor="let docente of BusquedaResults" 
          (click)="selectDocente(docente.UsuarioId)">
          
          <ion-label>
            <span class="docente">
              {{docente.UsuarioNombreCompleto}} -
            </span>
            <span class="nivel-entidad">
              {{docente.UsuarioEscolaridad}} - {{docente.CampusNombre}}<br/>
            </span>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <ion-item>
      <div style="position: absolute; right: 0px; bottom: 0px">
        <ion-label>{{ DocentesByCampusTotal }} Resultados</ion-label>
      </div>
    </ion-item>
    </ion-card-content>
  </ion-card>

</div>
 
<div class="container">

  <vista-principal></vista-principal>

  <div class="row" *ngIf="!cargandoInfoDocente && DocenteSeleccionado ">
    
    <div class="vertical-small">
      <div class="informacion">
        <docente-info 
          [DocenteData]="docenteSeleccionadoData" 
          (libroSeleccionadoEvent)="manejarLibroSeleccionado($event)">
        </docente-info> 
      </div>
      
      <div class="resumen">
        <skeleton-resumen-loading *ngIf="cargandoSkeleton"></skeleton-resumen-loading>
        <resumen-espera *ngIf="!libroSeleccionado"></resumen-espera>
        <resumen-resultado *ngIf="libroSeleccionado && !cargandoSkeleton && !errorlibros"></resumen-resultado>
        <resumen-error *ngIf="libroSeleccionado && !cargandoSkeleton && errorlibros"></resumen-error>
      </div>
    </div>

    <div class="vertical-large">

      <div class="container-exportar" *ngIf="libroSeleccionado && !cargandoSkeleton && !errorlibros">
        <img style="width: 23px; height: 33px;" src="./assets/icon/PDF_file_icon.svg" alt="file-icon">
        <div class="exportar-texto">Exportar información</div>
      </div>

      <skeleton-grafica-loading *ngIf="cargandoSkeleton"></skeleton-grafica-loading>
      <grafica-espera *ngIf="!libroSeleccionado"></grafica-espera>
      <grafica-resultado *ngIf="libroSeleccionado && !cargandoSkeleton && !errorlibros"></grafica-resultado>
      <grafica-error *ngIf="libroSeleccionado && !cargandoSkeleton && errorlibros"></grafica-error>
    </div>

  </div>

  <skeleton-loading *ngIf="cargandoInfoDocente"></skeleton-loading>
  

</div>
