<!--<link rel="stylesheet" href="components/txtLbs/txtLbs.css">-->
<link rel="stylesheet" href="assets/bootstrap.min.css">
<style type="text/css"></style>
<!--<div id="container-txt-notas" class="container">-->
	<textarea id="txt-notas" class="notas form-control" id="exampleFormControlTextarea1" rows="1"

	style="border: none; border-top: 1px solid #e1e2e4; outline: none; box-shadow: none; text-align: start; resize: none; -webkit-user-select: none;"
	placeholder="Agregue una nota aquí."></textarea>
	
	<div class="row" style="margin: 0;">
		<div class="col">
			<p class="text-left text-arroba">@César</p>
		</div>
		
		<div class="col"></div>
		<div class="col" style="padding-bottom:5px">
			<button id="btn-publicar" type="button" class="btn btn-primary btn-sm">Publicar</button>
		</div>
	</div>
<!--</div>-->