<!-- <ion-list style="width: 100%; height: 100%; border-radius: 25px;">
    <ion-item *ngFor="let item of items">
      <ion-thumbnail style="width: 100%; margin-right: 10px;">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
  </ion-list> -->

<div style="width: 100%;height: 25%; display: flex; justify-content: space-between;">
    
    <p class="title-card">Libros descargados.</p>
    
          <ion-select 
            class="input-select" 
            interface="popover" 
            placeholder="Todos" 
            [multiple]="true"
            [interfaceOptions]="librosDescargadosSelect"
          >
            <ion-select-option value="Mazatlan">Mazatlán</ion-select-option>
            <ion-select-option value="Culiacan">Culiacán</ion-select-option>
            <ion-select-option value="San Luis Potosi">San Luis Potosi</ion-select-option>
            <ion-select-option value="Zacatecas">Zacatecas</ion-select-option>
            <ion-select-option value="Durango">Durango</ion-select-option>
            <ion-select-option value="Torreon">Torreón</ion-select-option>
          </ion-select>
       
    
</div>

<div style="width: 100%;height: 60%; display: flex;justify-content: center; align-items: center;">
        
        <p class="no-descargados">
            <span class="numero-no-descargado">334</span>
                <br>No descargados<span class="espacio"></span><br><hr>
            <span class="porcentaje-no-descargado">23%</span>
        </p>
        
        <canvas id="LibrosDescargados"></canvas>
        
        <div class="texto-centrado">
            <p class="texto-libros"><span class="numero-centrado">1,389</span>Libros asignados</p>
        </div>
        
        <p class="descargados">
            <span class="numero-descargado"><span class="espacio"></span>1,055</span>
                <br><span class="espacio"></span>Descargados<br><hr>
            <span class="porcentaje-descargado">76%</span>
        </p>
        
</div>

<div style="width: 100%;height: 15%;">
    <button class="ver-mas-boton" (click)="navigateTo()">Ver más</button>
</div>

