<ion-header  >
  <ion-toolbar style="font-family: Solitreo !important">
    <ion-title>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="font-family:  Solitreo;">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" style="padding-right: 5%;" *ngIf="botonesEstado">
    <ion-fab-button color="medium">
      <ion-icon name="caret-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="dataService.abrirModal()">
        <ion-icon name="receipt-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="crearZip()">
        <ion-icon name="file-tray-full-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab slot="fixed" vertical="center" horizontal="start" style="padding-left: 5%;" *ngIf="botonesEstado">
    <ion-fab-button (click)="regresar()" color="medium">
      <ion-icon name="arrow-undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-accordion-group expand="inset" *ngIf="acordeonEstado">
    <ion-accordion value="primero">
      <ion-item slot="header" color="light">
        <ion-label>1er Grado</ion-label>
      </ion-item>
      <div *ngFor="let libro of libros" slot="content">
        <ion-item  button slot="content" (click)="acordeonStatus()" *ngIf="libro.Grados==1">
          <ion-label style="padding-left: 20px;">{{libro.Nombre}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="segundo">
      <ion-item slot="header" color="light">
        <ion-label>2do Grado</ion-label>
      </ion-item>
      <div *ngFor="let libro of libros" slot="content">
        <ion-item  button slot="content" (click)="acordeonStatus()" *ngIf="libro.Grados==2">
          <ion-label style="padding-left: 20px;">{{libro.Nombre}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="tercero">
      <ion-item slot="header" color="light">
        <ion-label>3er Grado</ion-label>
      </ion-item>
      <div *ngFor="let libro of libros" slot="content">
        <ion-item  button slot="content" (click)="acordeonStatus()" *ngIf="libro.Grados==3">
          <ion-label style="padding-left: 20px;">{{libro.Nombre}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="cuarto">
      <ion-item slot="header" color="light">
        <ion-label>4to Grado</ion-label>
      </ion-item>
      <div *ngFor="let libro of libros" slot="content">
        <ion-item  button slot="content" (click)="acordeonStatus()" *ngIf="libro.Grados==4">
          <ion-label style="padding-left: 20px;">{{libro.Nombre}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="quinto">
      <ion-item slot="header" color="light">
        <ion-label>5to Grado</ion-label>
      </ion-item>
      <div *ngFor="let libro of libros" slot="content">
        <ion-item  button slot="content" (click)="acordeonStatus()" *ngIf="libro.Grados==5">
          <ion-label style="padding-left: 20px;">{{libro.Nombre}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="sexto">
      <ion-item slot="header" color="light">
        <ion-label>6to Grado</ion-label>
      </ion-item>
      <div *ngFor="let libro of libros" slot="content">
        <ion-item  button slot="content" (click)="acordeonStatus()" *ngIf="libro.Grados==6">
          <ion-label style="padding-left: 20px;">{{libro.Nombre}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <div style="text-align: center; height: 100%;" *ngIf="iframeEstado">
    <div class="contenedorIframe">
        <iframe #iframe src="http://localhost:8100/assets/ESC_03_science/indexAndroid.html" frameborder="0" style="height: 100%; width: 100%"></iframe>
    </div>
  </div>
</ion-content>
