<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content style="font-family: Solitreo !important;">
        <ion-list id="inbox-list">
          <ion-list-header style="padding-bottom: 20px;">LBS+</ion-list-header>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              style="margin-top: 10px; margin-left: 8px; font-family: 'Solitreo';">
              <ion-label>{{ p.title }}</ion-label>
              <ion-icon name="{{ p.icon }}" slot="start"></ion-icon>
              
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-modal 
          #modal
          trigger="open-modal"
          [isOpen]="dataService.estadoModal"
          [initialBreakpoint]="0.8"
          [breakpoints]="[0.8, 0.15]"
          [backdropDismiss]="false"
          [backdropBreakpoint]="1"
          handle="false"
		  class="modalService">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-label style="padding-left: 20px; padding-right: 5px;">Pagina :</ion-label>
                <ion-buttons slot="end">
                  <ion-button shape="round" fill="clear" (click)="dataService.abrirModal()">
                    <ion-icon slot="icon-only" size="large" name="close-circle"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <select id="slcModal" name="select" [ngModel]="pag" (ngModelChange)="onChangePag( $event )" value="{{numeroPagina$}}">
                  <option *ngFor="let pag of totalPaginas">{{pag}}</option>
                </select>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <!-- <ion-textarea
                class="custom-textarea"
                placeholder="Escribe tu comentario aqui..."
                [(ngModel)]="contenido"
                rows="7"
                cols="5"
                style="border: solid 2px gray; border-radius: 10px;">
              </ion-textarea> -->
			  <quill-editor [(ngModel)]="contenidoSecuencia" [modules]="quillModules" id="quillText" 
			  	format="html" placeholder="Insertar texto aqui..."></quill-editor>
              <div style="text-align: center; margin-top: 4px;">
                <ion-button shape="round" color="dark" (click)="addNewList()">
                  <ion-icon slot="start" name="paper-plane"></ion-icon>
                  Enviar
                </ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
